div#synapse_prokvk {
	display: none;
	width: 340px;
	height: 115px;
	background: url(../img/box.png) left top no-repeat;
	font-family: Trebuchet MS;
	font-size: 20px;
	z-index: 9999;
	position: absolute;
	left: 0;
	top: 0;
}

div#synapse_prokvk p.info {
	display: block;
	width: 296px;
	height: 30px;
	line-height: 30px;
	margin: 15px 0 0 17px;
	padding: 0 5px 0 5px;
	text-align: left;
	overflow: hidden;
	color: #c5c5c5;
}

div#synapse_prokvk div.input {
	display: block;
	width: 306px;
	height: 41px;
	line-height: 41px;
	position: absolute;
	left: 17px;
	bottom: 17px;
}

div#synapse_prokvk .input span.altQry, div#synapse_prokvk .input input {
	display: block;
	width: 296px;
	height: 31px;
	line-height: 31px;
	margin: 0 !important;
	padding: 5px !important;
	text-align: left;
	background: transparent !important;
	border: 0 none !important;
	font-family: Trebuchet MS;
	font-size: 20px;
	color: #121313;
}

div#synapse_prokvk .input span.altQry {
	color: #c5c5c5;
}

div#synapse_prokvk .input input {
	position: relative;
	top: -41px;
}

/*

		@SETTINGS

*/

#synapse-launcher-settings-form select {
/*	width: 50px; */
}

#synapse-launcher-settings-form span.key-desc {
	padding-right: 10px;
	cursor: default;
}

#synapse-launcher-settings-form #edit-items-wrapper ul {
	padding-left: 0;
	list-style: none;
}

#synapse-launcher-settings-form #edit-items-wrapper ul li {
	height: 30px;
	line-height: 30px;
	background: none;
	border-top: 1px solid #d3e7f4;
	margin: 0;
	padding: 0;
	position: relative;
}

#synapse-launcher-settings-form #edit-items-wrapper ul li.odd {
	background: #f6fafd;
}

#synapse-launcher-settings-form #edit-items-wrapper ul li.last {
	border-bottom: 1px solid #d3e7f4;
}

#synapse-launcher-settings-form #edit-items-wrapper ul li:hover {
	background: #edf5fa;
}

#synapse-launcher-settings-form #edit-items-wrapper label {
	display: inline;
	padding-left: 5px;
	font-weight: normal;
}

#synapse-launcher-settings-form #edit-items-wrapper label.main {
	font-weight: bold;
}

#synapse-launcher-settings-form #edit-items-wrapper label.replacement {
	padding-left: 15px;
}

#synapse-launcher-settings-form #edit-items-wrapper input {
	width: 200px;
}

#synapse-launcher-settings-form #edit-items-wrapper input.pattern {
	width: 300px;
}

#synapse-launcher-settings-form #edit-items-wrapper input.add-item-button {
	width: auto;
	padding: 4px 8px 4px 8px;
}

#synapse-launcher-settings-form #edit-items-wrapper p.delete {
	width: 20px;
	height: 20px;
	margin: 0 !important;
	padding: 0 !important;
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: 5px;
}